<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="agendanet-title text-center my-4">AgendaNet</h3></div>
                            <% flash.each do |type, msg| %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <%= msg %>
                                </div>
                            <% end %>
                            <div class="card-body">
                                <%= form_with(scope: :session, url: login_path, local: true) do |form| %>
                                    <div class="form-floating mb-3">
                                        <%= form.email_field :email, class: "form-control", id: "inputEmail", placeholder: "E-mail"%>
                                        <%= form.label :email, "E-mail", for: "inputEmail" %>
                                    </div>
                                   <div class="form-floating mb-3">
                                        <%= form.password_field :password, class: "form-control", id: "inputPassword", placeholder: "Password" %>
                                        <%= form.label :password, "Password", for: "inputPassword" %>
                                    </div>
                                               
                                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                        <%= form.submit "Login", class: "btn btn btn-outline-info btn-lg", id: "buttonLogin", data: { disable_with: "Logando" } %>
                                        <%= link_to 'Cadastrar', new_user_path, class: "btn btn btn-outline-info btn-lg" %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

