<div style="left: 50%;position:fixed;transform: translate(-50%, 0px);z-index: 9999;" id="toastSucess" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Operação realizada com sucesso.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<div v-if="this.error" v-cloak class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ errorMessage }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex flex-row-reverse">
        <p class="p-3"> | <%= link_to "Sair", destroy_user_session_path, method: :delete %></p>
        <div id="iuShow" style="display: none;"><%= @current_user_id %></div>
        <div class="dropdown">
          <a class="text-decoration-none text-secondary" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <p id="userName" class="p-3 dropdown-toggle"><%= @current_user_name.upcase %></p> 
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to "Editar Dados", edit_user_path(@user), class: "dropdown-item" %></li>
            <% if @user.admin %>
              <li><%= link_to "Usuários", users_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </div>
    </div>
  <div>
  <div id="calendar"></div>
</div>

<div id="confirmModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ modalMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button id="confirmModalButton" type="button" data-user-id="<%= @current_user_id %>" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
</div>
