
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="agendanet-title text-center my-4">AgendaNet</h3></div>
                            <% flash.each do |type, msg| %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <%= msg %>
                                </div>
                            <% end %>
                            <div class="card-body">
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                    <div class="form-floating mb-3">
                                      <%= f.email_field :email, class:"form-control", id: "inputEmail", placeholder: "E-mail", autofocus: true, autocomplete: "email" %>
                                      <%= f.label :email, "E-mail", for: "inputEmail" %>
                                    </div>
                                   <div class="form-floating mb-3">
                                      <%= f.password_field :password, class:"form-control", id: "inputPassword", placeholder: "Senha", autocomplete: "current-password" %> 
                                      <%= f.label :password, "Senha", for:"inputPassword" %>
                                    </div>
                                    
                                    <div class="mt-3 mb-3 form-inline">
                                      <div class="form-check form-check-inline">
                                        <% if devise_mapping.rememberable? %>
                                          <%= f.check_box :remember_me, class: "form-check-input" %>
                                          <%= f.label :remember_me, class: "form-check-label"  %> 
                                        <% end %>
                                      </div>
                                    </div>         
                                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                                        <%= f.submit "Login", class: "btn btn btn-outline-info btn-lg", id: "buttonLogin", data: { disable_with: "Logando" } %>
                                        <%= link_to 'Cadastrar', new_user_registration_path, class: "btn btn btn-outline-info btn-lg" %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
